/* Code tidied up by ScrapBook */
* { margin: 0px; padding: 0px; box-sizing: border-box; }
html, body, #page_bg { width: 100%; height: 100%; min-height: 100%; }
body { width: 100%; overflow-x: hidden; padding-bottom: 15px; font: 19px/24px "PT Sans",sans-serif; }
.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block14, .block15, .block16, .block17, .block18, .block19, .block20, .block21, .block22, .block23, .block24, .block25 { float: left; clear: both; position: relative; width: 100%; background-color: rgb(255, 255, 255); padding-bottom: 35px; }
.centering { width: 1002px; position: relative; margin: 0px auto; max-width: 96%; }
img { max-width: 100%; height: auto; }
body p { font: 20px/24px "PT Sans",Tahoma,Arial,sans-serif; margin: 4px 0px 29px; }
.prod { background: transparent url("prod.png") no-repeat scroll center top / 100% auto; z-index: 50; position: relative; width: 547px; height: 532px; }
ul { list-style-type: none; }
.greenText { color: rgb(77, 170, 7); font-weight: bold; }
.sale { width: 122px; color: rgb(255, 255, 255); transform: rotate(-30deg); font: bold 21px/24px "PT Sans",sans-serif; text-transform: uppercase; text-align: center; background: transparent url("sale.png") no-repeat scroll left top; position: absolute; left: -70px; top: 133px; height: 125px; }
.sale__numb { font-size: 16px; margin: 34px 0px 7px; }
.redText { color: rgb(183, 0, 0); font-weight: bold; }
.ttu { text-transform: uppercase; }
.m-show { display: none; }
.row { display: table-row; position: relative; }
.logo { font-size: 61px; color: rgb(255, 255, 255); font-family: "Pavanam",sans-serif; font-weight: bold; line-height: 68px; }
.block0 { float: left; position: relative; min-height: 69px; background-color: rgb(255, 93, 85); width: 100%; }
.block0__cap { float: right; font-size: 14px; line-height: 19px; color: rgb(255, 255, 255); max-width: 260px; padding: 8px 0px 5px 52px; min-height: 43px; background: transparent url("agree.png") no-repeat scroll left center; }
.block1 { background: transparent url("block1.jpg") no-repeat scroll center top / cover ; }
.block1__cap { font: bold 73px/67px "Pt Sans",arial; max-width: 41%; padding-top: 26px; }
.block1__smallCap { color: rgb(212, 0, 3); margin: 18px 0px 20px; max-width: 41%; font: 26px/29px "Pt Sans",Tahoma,arial; }
.block1__prod { position: absolute; left: auto; float: left; right: -10px; width: 338px; top: 60px; }
.block1__list { max-width: 34%; font-size: 20px; line-height: 24px; }
.block1__list__li { position: relative; padding: 13px 0px 0px 40px; }
.block1__list__li::before { content: "✔"; position: absolute; left: 0px; top: 23px; color: rgb(77, 170, 7); font-size: 32px; }
.block1__prices { width: 300px; margin: 0px 0px 0px -150px; position: absolute; left: 50%; bottom: 25px; text-align: center; z-index: 999; }
.leave { width: 241px; height: 269px; background: transparent url("leave.png") no-repeat scroll left top; position: absolute; right: -210px; bottom: 58px; }
.js_new_price_curs { color: rgb(213, 16, 21); font: bold 33px/33px "Pt Sans",arial; margin: 0px 0px 25px; display: block; }
.oldPricesText { text-decoration: line-through; color: rgb(53, 53, 53); }
.table { display: table; width: 100%; max-width: 100%; }
td { position: relative; }
.cell { vertical-align: top; position: relative; display: table-cell; }
.block2 { padding-bottom: 0px; }
.block2__cap { width: 90%; float: right; max-width: 460px; color: rgb(255, 255, 255); text-transform: uppercase; font: bold 51px/51px "Pt Sans",arial; padding-top: 55px; }
.block2__leftcell { background: transparent url("block2.jpg") no-repeat scroll right top / cover ; width: 47%; }
.block2__rightcell { border-width: 26px 0px 26px 26px; border-style: solid none solid solid; border-color: rgb(255, 93, 85) currentcolor rgb(255, 93, 85) rgb(255, 93, 85); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 53%; vertical-align: top; }
.block2__redText { color: rgb(255, 93, 85); }
.block2__info { border: 1px solid rgb(221, 218, 218); margin: 40px 0px 24px 40px; width: 62%; padding: 15px 21px 16px 20px; }
.block2__list { max-width: 62%; float: left; margin-left: 40px; }
.block2__list__li { float: left; position: relative; padding: 8px 0px 11px 195px; min-height: 91px; margin-bottom: 26px; }
.block2__img { position: absolute; width: 177px; left: 0px; top: 0px; height: 91px; background: transparent url("block2__img.jpg") no-repeat scroll left top; }
.block2__img--2 { background-position: left center; }
.block2__img--3 { background-position: left bottom; }
.block3 { background: rgb(250, 248, 249) url("block3.jpg") no-repeat scroll right top / contain ; text-shadow: 0px 0px 5px rgb(255, 255, 255); padding-bottom: 0px; }
.block3__fix { width: 2%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; left: -2%; height: 100%; min-height: 100%; }
.block3__centering { padding-bottom: 35px; padding-right: 524px; background: transparent linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 16%, rgba(255, 255, 255, 0.49) 59%, rgba(255, 255, 255, 0.02) 98%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0%; }
.block3__cap { max-width: 47%; font: bold 35px/38px "Pt Sans",sans-serif; padding: 34px 0px 17px; }
.block3__list { border-left: 3px solid rgb(183, 0, 0); padding: 7px 0px 5px 17px; margin-bottom: 25px; }
.block3__list li { position: relative; padding: 0px 0px 10px 30px; }
.block3__span { position: absolute; left: 0px; top: 0px; }
.block4 { background: rgb(159, 60, 54) none repeat scroll 0% 0%; padding-bottom: 30px; }
.block4__cap { color: rgb(255, 255, 255); font: bold 59px/59px "Pt Sans",arial; text-align: center; padding: 45px 0px; }
.block4__table { margin: 0px auto; width: 100%; max-width: 975px; background: rgb(255, 93, 85) none repeat scroll 0% 0%; }
.block4__text { position: absolute; left: 0px; color: rgb(255, 255, 255); top: 0px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; font-weight: bold; padding: 10px 15px 8px 24px; }
.block5, .block11 { padding-top: 45px; background: transparent url("block5.jpg") no-repeat scroll center 0px / cover ; }
.block5__prod { position: relative; width: 350px; margin-left: 73px; margin-top: 77px; }
.block5__cap { font: bold 44px/53px "Pt Sans",arial; padding: 0px 0px 18px; }
.cell--middle { vertical-align: middle; }
.cell--50 { width: 50%; vertical-align: middle; }
.cell--bot { vertical-align: bottom; }
.cell--left { padding-right: 15px; }
.cell--right { padding-left: 15px; }
.cell--top { vertical-align: top; }
.block5__varikosette { font-size: 59px; }
.block5__set { position: relative; float: left; padding-left: 45px; margin-top: -14px; width: 50%; }
.numb { position: absolute; left: 0px; top: 15px; color: rgb(183, 0, 0); font-size: 46px; }
.leave--right { width: 224px; height: 275px; left: -204px; background: transparent url("leave---right.png") no-repeat scroll left top; bottom: 51px; }
.block6__cap { font: bold 45px/47px "Pt Sans",arial; padding: 60px 0px 30px; }
.block6__content { width: 100%; min-height: 462px; position: relative; }
.block6__list { padding: 45px 540px 0px 0px; }
.block6__list__li { position: relative; padding: 0px 0px 0px 46px; margin-top: 19px; font-size: 21px; margin-bottom: 35px; line-height: 26px; }
.block6__doc { position: absolute; right: 0px; top: 50%; margin-top: -223px; background: transparent url("block6__doc--s.jpg") no-repeat scroll right top; height: 445px; width: 500px; border: 13px solid rgb(255, 255, 255); box-shadow: 0px 0px 20px rgb(185, 182, 177); border-radius: 7px; }
.before { position: absolute; bottom: 69px; left: 93px; color: rgb(255, 255, 255); background: rgb(182, 0, 0) none repeat scroll 0% 0%; font-size: 25px; padding: 5px 10px 11px 14px; width: 130px; text-align: center; }
.after { position: absolute; bottom: 69px; left: 222px; color: rgb(255, 255, 255); background: rgb(77, 170, 7) none repeat scroll 0% 0%; font-size: 25px; padding: 5px 10px 11px 14px; width: 130px; text-align: center; }
.block7 { color: rgb(255, 255, 255); background: rgb(67, 123, 138) url("block7.jpg") no-repeat scroll center top / cover ; }
.aquamarineText { color: rgb(20, 249, 149); }
.block7__prod { position: absolute; left: auto; bottom: 41px; width: 92px; background-position: right bottom; height: 139px; right: 22px; }
.block7__cap { font: bold 40px/41px "Pt Sans",arial; color: rgb(255, 255, 255); padding: 40px 0px 35px; }
.whiteBorderText { border-left: 3px solid rgb(255, 255, 255); font-size: 23px; margin-left: 13px; padding: 0px 17px; line-height: 29px; }
.block8 { background: rgb(241, 236, 203) none repeat scroll 0% 0%; padding-bottom: 30px; }
.block8__cap { text-align: center; font-size: 45px; font-weight: bold; line-height: 45px; padding: 38px 0px 23px; }
.block8__text { text-align: center; padding: 10px; }
.block8__img { background: transparent url("block8__img.jpg") no-repeat scroll left top; width: 100%; height: 270px; }
.block8__img--2 { background-position: right top; }
.block8__set { border: 5px solid rgb(255, 60, 66); background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 100%; min-height: 100%; width: 100%; }
.block8__set--right { border-color: rgb(77, 170, 7); background: rgb(220, 255, 240) none repeat scroll 0% 0%; }
.block9 { background: transparent url("block9--right.jpg") no-repeat scroll center top / cover ; }
.block9__cap { text-align: center; padding: 37px 0px 10px; font-weight: bold; font-size: 44px; line-height: 47px; }
.block9__set { float: left; width: 25%; margin-top: 18px; }
.block9__div { position: relative; padding: 0px 20px 15px 18px; font-size: 17px; line-height: 21px; max-width: 220px; }
.block9__ok { position: absolute; left: 0px; top: 0px; color: rgb(77, 170, 7); }
.block9__set__cap { font-weight: bold; color: rgb(77, 170, 7); max-width: 218px; min-height: 60px; }
.block9__img { display: block; height: 140px; background: transparent url("block9__img.jpg") no-repeat scroll left top; margin-bottom: 18px; width: 218px; }
.block9__img--2 { background-position: right top; }
.block9__img--3 { background-position: left bottom; }
.block9__img--4 { background-position: right bottom; }
.block10__cap { text-align: center; font-weight: bold; font-size: 45px; padding-top: 45px; margin-bottom: 44px; line-height: 49px; }
.block10__smallcap { position: relative; text-transform: uppercase; font-size: 38px; padding-left: 43px; font-weight: bold; line-height: 38px; padding-bottom: 17px; }
.block10__img { width: 100%; max-width: 450px; height: 376px; border: 8px solid rgb(255, 255, 255); box-shadow: 0px 0px 10px rgb(85, 85, 85); border-radius: 5px; background: transparent url("block10__img.jpg") no-repeat scroll left top; }
.block10__img--2 { background-position: left center; }
.block10__img--3 { background-position: left bottom; }
.block10__numb { position: absolute; left: 0px; top: 0px; }
.block10 .cell { border-bottom: 60px solid rgb(255, 255, 255); }
.cell--withpadding { padding-right: 25px; }
.block10__cell--right { padding-left: 25px; }
.block11__cap { font-size: 71px; line-height: 71px; padding-top: 50px; padding-bottom: 20px; }
.block11__prod { width: 282px; margin-top: 30px; height: 410px; }
.block11__smallcap { font-size: 26px; }
.block11__leave { right: -217px; bottom: 20px; }
.cols3 { width: 33.3333%; float: left; padding: 0px 20px; text-align: center; }
.block12__imgBlock { position: relative; width: 235px; height: 235px; background-color: rgb(240, 240, 240); border: 2px solid rgb(183, 0, 0); border-radius: 50%; margin: 34px auto 10px; }
.block12__img { width: 230px; height: 230px; background: transparent url("block12__img.jpg") no-repeat scroll left top; border-radius: 50%; border: 7px solid rgb(255, 255, 255); }
.block12__img--2 { background-position: center top; }
.block12__img--2 { background-position: right top; }
.block12 .numb { left: -15px; top: 9px; }
.block14 { background: transparent url("block14.jpg") no-repeat scroll center top / cover ; padding-bottom: 0px; }
.block14 .centering { color: black; }
.block14__cap { width: 100%; font: bold 75px/69px "Pt Sans",arial; padding: 37px 0px 36px; }
.block14__prod { width: 350px; left: 25%; margin-left: -226px; height: 482px; bottom: 5px; }
.block14__sale { top: -36px; left: 219px; }
.block14 .leave { right: -214px; bottom: -14px; }
.block14 .oldPricesText { padding-top: 0px; display: block; text-align: center; }
.block14 .js_new_price_curs { display: block; font-size: 25px; text-align: center; }
.button { word-break: break-all; cursor: pointer; display: block; margin: 0px auto; width: 300px; max-width: 100%; border: medium none; min-height: 41px; border-radius: 5px; clear: both; background: transparent linear-gradient(to bottom, rgb(233, 0, 7) 0%, rgb(218, 0, 2) 100%) repeat scroll 0% 0%; transition: all 0.7s ease-out 0s; padding: 5px; text-decoration: none; }
.button__text { font: italic bold 22px/30px "PT Sans",sans-serif; padding: 15px 5px; width: 100%; height: 100%; color: rgb(255, 255, 255); border: 1px solid rgb(238, 95, 98); border-radius: 5px; min-height: 68px; text-align: center; display: block; max-height: 100%; }
.button:hover { transform: scale(1.03); }
.button:hover .button__text { background: transparent linear-gradient(to bottom, rgb(232, 0, 7) 0%, rgb(162, 0, 2) 100%) repeat scroll 0% 0%; }
.button:active { border-bottom: 0px none; outline: medium none; }
.oldform { padding: 0px 23px 20px; width: 365px; position: absolute; right: 0px; z-index: 999; border-width: 63px 8px 8px; border-style: solid; border-color: rgb(77, 170, 7); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 7px; background-color: rgb(255, 255, 255); bottom: 10px; }
.form__cap { width: 100%; text-align: center; font-weight: bold; color: rgb(255, 255, 255); margin-top: -125px; font-size: 25px; margin-bottom: 55px; }
.inpu, .countrylabel { -moz-appearance: none; cursor: pointer; border: 2px solid rgb(219, 219, 219) ! important; padding: 10px ! important; color: rgb(0, 0, 0) ! important; font-size: 18px ! important; border-radius: 0px; width: 100% ! important; height: 67px ! important; background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%; margin-bottom: 18px ! important; line-height: normal ! important; }
.countrylabel { padding: 0px; position: relative; background: rgb(255, 255, 255) url("customselect.png") no-repeat scroll 95% 50% ! important; margin-top: 30px; }
.countrylabel::after { content: " ▼"; font-size: 17px; line-height: 34px; font-family: "Roboto",sans-serif; right: 10px; top: 11px; height: 28px; min-height: 100%; background: transparent none repeat scroll 0% 0%; position: absolute; pointer-events: none; color: rgb(183, 0, 0); font-weight: bold; }
#country:focus, input:focus { outline: medium none; }
@media only screen and (max-width: 1900px) {
  .block3 { padding-bottom: 0px; background: rgb(250, 248, 249) url("block3-small.jpg") no-repeat scroll right top / contain ; }
  .block3__centering { padding-bottom: 35px; }
}
@media only screen and (max-width: 1300px) {
  .block7__prod { display: none; }
  .block6 { background: transparent none repeat scroll 0% 0%; height: auto; }
  .block1__prod .leave, .block2__leftcell { display: none; }
  .block6__cap { text-align: center; }
  .block1__prod { width: 296px; }
  .block1 .sale { left: 161px; top: -43px; }
  .block2__rightcell { border-left: 26px solid rgb(255, 60, 66); border-right: 26px solid rgb(255, 60, 66); width: 100%; padding: 0px 25px; }
  .block2__info { width: 100%; margin-left: 0px; text-align: center; }
  .block2__list { width: 100%; }
}
@media only screen and (max-width: 1000px) {
  h1 { font-size: 50px ! important; line-height: 50px ! important; }
  .block9 .centering { max-width: 500px; }
  .block9__set { width: 50%; }
  .block9__div { display: none; }
  .block9__set__cap { text-align: center; }
  .block9__img { margin: 0px auto 20px; }
  .block14__prod { bottom: 123px; width: 280px; top: 70px; margin-left: -160px; }
  .block14__sale { top: -77px; left: 99px; }
  .block14__prod .leave { display: none; }
  .block1__list { max-width: 32%; }
  .block1__smallCap { margin-top: 0px; }
  .block2 { padding-bottom: 0px; }
  .block6__list { padding: 0px 520px 0px 0px; }
  .block3 { background-size: cover; }
  .oldform { width: 300px; }
  .form__cap { font-size: 23px; margin-top: -115px; }
  .countrylabel { margin-top: 40px; }
  .block14 .js_new_price_curs { font-size: 20px; }
}
@media only screen and (min-width: 1000px) {
}
@media screen and (max-width: 500px) {
  .oldPricesText { font-size: 15px ! important; }
  .block14 .js_new_price_curs { font-size: 15px ! important; }
}
